<div class='row flex-lg-row-reverse align-items-center g-5 py-5'>
  <div class='col-10 col-sm-8 col-lg-6'>
    <img src='https://picsum.photos/id/47/700/500' class='d-block mx-lg-auto img-fluid rounded-3' alt='Angular Homepage'
         width='700' height='500' loading='lazy'>
  </div>
  <div class='col-lg-6'>
    <h1 class='display-5 fw-bold lh-1 mb-4'>Angular Homepage</h1>
    <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eaque eveniet expedita fugit harum, optio ut. Ab
      accusamus, accusantium at debitis dicta dignissimos dolore dolorem et.</p>
    <p class='lead mt-3'>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eaque eveniet expedita fugit harum, optio ut. Ab
      accusamus, accusantium at debitis dicta dignissimos dolore dolorem et explicabo facere fuga ipsam magnam maiores
      nisi nulla optio.
    </p>
  </div>
</div>
