// Variables
@import "colors";
@import "fonts";

.post-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 20px;
  padding: 12px 24px;
  border-radius: 8px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  border: 2px solid #e6e6e6;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-color: rgba($primary-color, 0.5);
  }

  &__title {
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__content {
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
