<header class='header'>
  <div class="container">
    <a [routerLink]="['/']" class='header__logo'>
      <img src='assets/images/logo.png' alt='Logo' class='header__logo-img'>
    </a>
    <ul class='header__nav'>
      <li class='header__nav-item' *ngFor="let navLink of navLinks; index as i;">
        <a [routerLink]="[navLink.path]" [routerLinkActive]="'active-link'" class='header__nav-link'>{{navLink.label}}</a>
      </li>
    </ul>
    <span class='d-inline-block mx-3'>{{today | date: 'dd.mm.YYYY'}}</span>
    <app-button (btnClick)="fakeLogin()" [btnText]="loginStatus ? 'Logout' : 'Login'"></app-button>
  </div>
</header>
