// Variables
@import "src/assets/styles/variables/colors";
@import "src/assets/styles/variables/fonts";

.btn {
  font-family: $primary-font;
  font-weight: $o-font-weight-medium;
  font-size: 16px;
  line-height: 1.5;
  color:$color-white;
  background-color: $primary-color;
  width: 100%;
  padding: 8px 16px;
  border: 0;
  border-radius: 5px;
}
